@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "";
    ViewBag.Title = "TestCodeSnippets";
}

<h2>TestCodeSnippets</h2>

@{Html.RenderPartial("_UseUmbracoBuildInImageCropper");}

<p>Test </p>
