@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "WebBase.cshtml";
}

<h1> Hello!</h1>
<p>this is a Umbraco template that does not have a content page but Umbraco knows how to render it </p>
@{Html.RenderPartial("_UseUmbracoBuildInImageCropper");}

<p>Test </p>