<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT prettyLink ANY>
<!ATTLIST prettyLink id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT services ANY>
<!ATTLIST services id ID #REQUIRED>
<!ELEMENT porrtofolio ANY>
<!ATTLIST porrtofolio id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1053" key="d3eaab99-ae12-4b54-a3f0-b83df56e708a" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2019-07-19T15:28:33" updateDate="2019-08-12T12:33:43" nodeName="Home" urlName="home" path="-1,1053" isDoc="" nodeType="1052" creatorName="motivation" writerName="motivation" writerID="1" template="1051" nodeTypeAlias="home">
    <intro><![CDATA[Test Lesser is a creative agency that love to create functional website]]></intro>
    <featuredItems><![CDATA[{"fieldsets":[{"properties":[{"alias":"name","value":"Work with Love"},{"alias":"category","value":"About"},{"alias":"page","value":"1065"},{"alias":"image","value":"1082"}],"alias":"featuredItemList","disabled":false,"id":"4483d3f9-c894-4f71-b1fb-03de19c47ece","releaseDate":null,"expireDate":null,"allowedMemberGroups":""},{"properties":[{"alias":"name","value":"Music over"},{"alias":"category","value":"Blog"},{"alias":"image","value":"1082"},{"alias":"page","value":"1056"}],"alias":"featuredItemList","disabled":false,"id":"5dc79a87-9123-4fa2-a82e-098ee5d73f40","releaseDate":null,"expireDate":null,"allowedMemberGroups":""},{"properties":[{"alias":"name","value":"Travel "},{"alias":"category","value":"Cookies"},{"alias":"image","value":"1082"},{"alias":"page","value":"1076"}],"alias":"featuredItemList","disabled":false,"id":"eb82ceae-7a10-47a7-b97e-d9972cd320ec","releaseDate":null,"expireDate":null,"allowedMemberGroups":""}]}]]></featuredItems>
    <latestBlogPostsIntroduction><![CDATA[<p>this is my introcustion</p>]]></latestBlogPostsIntroduction>
    <latestBlogPostsTitle><![CDATA[Latest Blog from Umbraco CMS]]></latestBlogPostsTitle>
    <servicesIntro><![CDATA[<p>services intro ....</p>]]></servicesIntro>
    <servicesConclusion><![CDATA[<p>services extra details </p>]]></servicesConclusion>
    <servicesTitle><![CDATA[Test My services Part2]]></servicesTitle>
    <servicesLink><![CDATA[[
  {
    "caption": "Find out more",
    "link": 1068,
    "newWindow": false,
    "internal": 1068,
    "edit": false,
    "isInternal": true,
    "internalName": "Contact",
    "internalIcon": "icon-message",
    "type": "internal",
    "title": "Find out more"
  }
]]]></servicesLink>
    <fixedImageText><![CDATA[<p>Text on top of the image </p>
<p><span>Text on top of the image </span></p>
<p><span>Text on top of the image </span></p>
<p><span>Text on top of the image Text on top of the image </span></p>
<p><span>Text on top of the image </span></p>]]></fixedImageText>
    <fixedImageTextTitle><![CDATA[Title on top of the image]]></fixedImageTextTitle>
    <fixedImage><![CDATA[1103]]></fixedImage>
    <fixedImageBlockLink><![CDATA[[
  {
    "caption": "Get Started",
    "link": "http://www.codeshare.co.uk",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "Get Started"
  },
  {
    "caption": "Get Started 2",
    "link": 1068,
    "newWindow": false,
    "internal": 1068,
    "edit": false,
    "isInternal": true,
    "internalName": "Contact",
    "internalIcon": "icon-message",
    "type": "internal",
    "title": "Get Started 2"
  }
]]]></fixedImageBlockLink>
    <blog id="1056" key="f5f79e5c-7e8a-48a3-9e92-d75934caa53d" parentID="1053" level="2" creatorID="1" sortOrder="0" createDate="2019-07-19T17:21:06" updateDate="2019-07-23T16:46:22" nodeName="Blog" urlName="blog" path="-1,1053,1056" isDoc="" nodeType="1055" creatorName="motivation" writerName="motivation" writerID="1" template="1054" nodeTypeAlias="blog">
      <subTitle><![CDATA[<p>here is my blog page subtitle</p>]]></subTitle>
      <blogPost id="1087" key="9f7b92eb-dc60-4523-9085-9d15f9269f0d" parentID="1056" level="3" creatorID="1" sortOrder="0" createDate="2019-07-23T16:23:02" updateDate="2019-07-23T16:26:17" nodeName="New IPhone release" urlName="new-iphone-release" path="-1,1053,1056,1087" isDoc="" nodeType="1084" creatorName="motivation" writerName="motivation" writerID="1" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "fdfc1813-9398-dede-c485-61259358bdf4"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1086]]></articleImage>
        <articleIntro><![CDATA[blah blad test intro
Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.]]></articleIntro>
      </blogPost>
      <blogPost id="1094" key="2c0ac1b5-5937-4da9-b870-df622c96fa85" parentID="1056" level="3" creatorID="0" sortOrder="1" createDate="2019-07-23T16:26:53" updateDate="2019-07-23T16:45:58" nodeName="New IPhone release (1)" urlName="new-iphone-release-1" path="-1,1053,1056,1094" isDoc="" nodeType="1084" creatorName="UmbracoMain" writerName="UmbracoMain" writerID="0" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "fdfc1813-9398-dede-c485-61259358bdf4"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1086]]></articleImage>
        <articleIntro><![CDATA[blah blad test intro
Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.]]></articleIntro>
      </blogPost>
      <blogPost id="1089" key="ca67a583-e38c-4da9-8a35-2a35a6c24f18" parentID="1056" level="3" creatorID="1" sortOrder="2" createDate="2019-07-23T16:23:41" updateDate="2019-07-23T16:45:58" nodeName="Beans" urlName="beans" path="-1,1053,1056,1089" isDoc="" nodeType="1084" creatorName="motivation" writerName="UmbracoMain" writerID="0" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "e45ac6b2-ce90-14d2-165e-b13e08143cd0"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1088]]></articleImage>
        <articleIntro><![CDATA[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
Blh Blah]]></articleIntro>
      </blogPost>
      <blogPost id="1090" key="86599e18-5937-4145-aea5-d9d65b75ae0c" parentID="1056" level="3" creatorID="0" sortOrder="3" createDate="2019-07-23T16:24:28" updateDate="2019-07-23T16:45:58" nodeName="Beans (1)" urlName="beans-1" path="-1,1053,1056,1090" isDoc="" nodeType="1084" creatorName="UmbracoMain" writerName="UmbracoMain" writerID="0" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "e45ac6b2-ce90-14d2-165e-b13e08143cd0"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1088]]></articleImage>
        <articleIntro><![CDATA[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
Blh Blah]]></articleIntro>
      </blogPost>
      <blogPost id="1096" key="ddc0727e-a542-4bc7-84f9-2b8cfe2a08f6" parentID="1056" level="3" creatorID="0" sortOrder="4" createDate="2019-07-23T16:26:53" updateDate="2019-07-23T16:45:58" nodeName="Beans (1) (1)" urlName="beans-1-1" path="-1,1053,1056,1096" isDoc="" nodeType="1084" creatorName="UmbracoMain" writerName="UmbracoMain" writerID="0" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "e45ac6b2-ce90-14d2-165e-b13e08143cd0"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1088]]></articleImage>
        <articleIntro><![CDATA[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
Blh Blah]]></articleIntro>
      </blogPost>
      <blogPost id="1095" key="d2eec4a8-8bcb-49ac-9bf4-47d06159f623" parentID="1056" level="3" creatorID="0" sortOrder="5" createDate="2019-07-23T16:26:53" updateDate="2019-07-23T16:45:58" nodeName="Beans (2)" urlName="beans-2" path="-1,1053,1056,1095" isDoc="" nodeType="1084" creatorName="UmbracoMain" writerName="UmbracoMain" writerID="0" template="1085" nodeTypeAlias="blogPost">
        <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": []
            }
          ],
          "hasConfig": false,
          "id": "e45ac6b2-ce90-14d2-165e-b13e08143cd0"
        }
      ]
    }
  ]
}]]></contentGrid>
        <articleImage><![CDATA[1088]]></articleImage>
        <articleIntro><![CDATA[Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
Blh Blah]]></articleIntro>
      </blogPost>
    </blog>
    <porrtofolio id="1059" key="c1b02f59-c2a1-499a-b229-b62a7781a3a1" parentID="1053" level="2" creatorID="1" sortOrder="1" createDate="2019-07-19T17:39:17" updateDate="2019-07-20T16:21:43" nodeName="Portfolio" urlName="portfolio" path="-1,1053,1059" isDoc="" nodeType="1058" creatorName="motivation" writerName="motivation" writerID="1" template="1057" nodeTypeAlias="porrtofolio">
      <subTitle><![CDATA[<p>subtile for portofolio</p>]]></subTitle>
    </porrtofolio>
    <services id="1062" key="0f89fd27-e7bf-48c4-bfba-d0fb77b317a7" parentID="1053" level="2" creatorID="1" sortOrder="2" createDate="2019-07-19T17:42:43" updateDate="2019-07-21T13:51:27" nodeName="Services" urlName="services" path="-1,1053,1062" isDoc="" nodeType="1061" creatorName="motivation" writerName="motivation" writerID="1" template="1060" nodeTypeAlias="services">
      <title><![CDATA[Custom Title]]></title>
      <subTitle><![CDATA[<p>And Umbraco sub-title</p>]]></subTitle>
      <excludeFromTopNavigation>0</excludeFromTopNavigation>
    </services>
    <content id="1065" key="91a9d890-d599-4062-aa12-f2f215eb5206" parentID="1053" level="2" creatorID="1" sortOrder="3" createDate="2019-07-19T17:45:43" updateDate="2019-07-21T13:39:47" nodeName="About" urlName="about" path="-1,1053,1065" isDoc="" nodeType="1064" creatorName="motivation" writerName="motivation" writerID="1" template="1063" nodeTypeAlias="content">
      <title><![CDATA[Content Title from Umbraco]]></title>
      <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><img class=\"img-responsive\" src=\"/images/image_about.jpg\" alt=\"About\" /></p>\n<h3>History</h3>\n<p>ZZZZZ Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                },
                {
                  "value": "Quote goes here",
                  "editor": {
                    "alias": "quote"
                  },
                  "active": true
                }
              ],
              "active": true
            }
          ],
          "hasConfig": false,
          "id": "d93555a2-a94e-ef44-c10a-6efd8995bab0",
          "hasActiveChild": true,
          "active": true
        }
      ]
    }
  ]
}]]></contentGrid>
    </content>
    <contact id="1068" key="a51fe1a9-e547-4f52-aece-69cb496186fe" parentID="1053" level="2" creatorID="1" sortOrder="4" createDate="2019-07-19T19:07:10" updateDate="2019-08-30T14:41:10" nodeName="Contact" urlName="contact" path="-1,1053,1068" isDoc="" nodeType="1067" creatorName="motivation" writerName="motivation" writerID="1" template="1107" nodeTypeAlias="contact" />
    <content id="1076" key="3876635f-8061-4cb4-8b04-cd4d6a550b4f" parentID="1053" level="2" creatorID="1" sortOrder="5" createDate="2019-07-21T13:40:49" updateDate="2019-07-21T13:49:34" nodeName="Cookies" urlName="cookies" path="-1,1053,1076" isDoc="" nodeType="1064" creatorName="motivation" writerName="motivation" writerID="1" template="1063" nodeTypeAlias="content">
      <contentGrid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "label": "Full width",
          "name": "Full width",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Lorem ipsum blah blah p<span>Lorem ipsum blah blah p</span><span>Lorem ipsum blah blah p</span></p>\n<p><span>Lorem ipsum blah blah p</span><span>Lorem ipsum blah blah p</span></p>\n<p><span>Lorem ipsum blah blah p</span></p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": true
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "2fd7ea66-b8a2-586d-0892-2625fdd1cf1f"
        }
      ]
    }
  ]
}]]></contentGrid>
      <excludeFromTopNavigation>1</excludeFromTopNavigation>
    </content>
    <prettyLink id="1101" key="c60e75fd-4512-42f2-a957-a3e7dce4766e" parentID="1053" level="2" creatorID="1" sortOrder="6" createDate="2019-08-07T16:48:04" updateDate="2019-08-08T16:08:15" nodeName="codeShare" urlName="codeshare" path="-1,1053,1101" isDoc="" nodeType="1100" creatorName="motivation" writerName="motivation" writerID="1" template="1099" nodeTypeAlias="prettyLink">
      <linkTarget><![CDATA[[
  {
    "caption": "codeShare",
    "link": "http://www.codeshare.co.uk",
    "newWindow": true,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "codeShare"
  }
]]]></linkTarget>
    </prettyLink>
  </home>
</root>