@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "WebBase.cshtml";
    ViewBag.Title = "TestCodeSnippets";
}

<h2>TestCodeSnippetszzz</h2>
<p>This does not look at the Controller </p>
@*@{Html.RenderPartial("_UseUmbracoBuildInImageCropper");}*@

