@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    Layout = "WebBase.cshtml";
    ViewBag.Title = "TestCodeSnippets";
}

<h2>TestCodeSnippets</h2>
<p>Which one does it pick?This does not look at the Controller </p>

@*@{Html.RenderPartial("_UseUmbracoBuildInImageCropper");}*@

